
# Json files
*.json

# PyCharm folder
.idea

# Emacs files
*~
\#*\#
.\#*

GTAGS
.dumbjump

# Flycheck
flycheck_*.el

# projectiles files
.projectile

# flymake-mode
*_flymake.*


# Python
__pycache__/
*.py[cod]
*$py.class

# MacOS files
.DS_Store
