[submodule "targets/libpng/repo"]
	path = targets/libpng/repo
	url = https://github.com/glennrp/libpng.git
	branch = libpng16
[submodule "targets/libtiff/repo"]
	path = targets/libtiff/repo
	url = https://gitlab.com/libtiff/libtiff.git
	branch = master
[submodule "targets/libxml2/repo"]
	path = targets/libxml2/repo
	url = https://github.com/GNOME/libxml2.git
	branch = mainline
[submodule "targets/poppler/repo"]
	path = targets/poppler/repo
	url = https://gitlab.freedesktop.org/poppler/poppler.git
	branch = master
